.logindiv form {
  display: flex;
  flex-direction: column;
  width: 100svw;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
#messageLogin {
  font-size: 50px;
  padding: 30px;
  text-align: center;
}
#loginForm button {
  width: 130px;
  height: 60px;
  font-size: 40px;
  border-radius: 30px;
}
.logindiv {
  width: 100svw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  width: 400px;
}
.admin_button {
  position: absolute;
  right: 60px;
  top: 59px;
  z-index: 2;
  width: 130px;
  height: 60px;
  font-size: 40px;
  border-radius: 30px;
}
.welcomelog {
  position: relative;
  font-size: 50px;
  top: 150px;
  padding: 30px;
}
span {
  font-weight: bolder;
  font-size: 90px;
  font-style: oblique;
}
@media (max-width: 900px) {
  .admin_button {
    top: 50px;
    right: 150px;
    position: fixed;
  }
  .logindiv {
    top: 10px;
    position: relative;
  }
}

@media (max-width: 640px) {
  .logindiv {
    top: 20px;
    position: relative;
  }
}
@media (max-width: 560px) {
  .logindiv {
    top: 25px;
    position: relative;
  }
  .welcomelog {
    top: 20px;
  }
}
@media (max-width: 538px) {
  .admin_button {
    width: 80px;
    position: fixed;
    font-size: 18px;
    height: 50px;
    right: 130px;
    top: 40px;
  }
}
