.deleteattende {
  display: flex;
  flex-direction: column;
  width: 100svw;
  align-items: center;
  position: relative;
  top: 10px;
}
.deleteattende ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.deleteattende div {
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 500px;
  gap: 20px;
}
.deleteattende div button {
  width: 130px;
  font-size: 30px;
  border-radius: 30px;
}
.deleteattende ul {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}
.deleteattende li {
  color: beige;
  text-align: center;
  width: 300px;
}
@media (max-width: 724px) {
  .deleteattende {
    top: 10px;
  }
}
@media (max-width: 554px) {
  .deleteattende {
    top: 20px;
  }
  .deleteattende div {
    width: 300px;
  }
}
