#description {
  min-width: 300px;
  width: 420px;
  border-radius: 30px;
  height: 60px;
  background-color: black;
  color: beige;
  border: 2px solid white;
  position: relative;
  font-size: 30px;
  text-align: center;
}
#eventimg {
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}
#eventForm .hidden-input {
  display: none;
}
#eventForm button {
  width: 100px;
  height: 50px;
  font-size: 30px;
  border-radius: 30px;
}
#eventForm {
  display: flex;
  flex-direction: column;
  width: 80svw;
  justify-content: center;
  position: relative;
  padding: 30px;
  gap: 30px;

  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
#eventForm input {
  width: 420px;
  height: 60px;
}

label {
  color: beige;
  display: block;
}
#messageevent {
  font-size: 40px;
  padding: 30px;
  padding-bottom: 50px;
  width: 100svw;
  text-align: center;
}
@media (max-width: 640px) {
  #eventForm {
    top: 250px;
    position: relative;
  }

  #eventForm input {
    width: 260px;
  }
}
