.deleteevent {
  position: relative;
  top: 10px;
  flex-direction: column;
  display: flex;
  width: 100svw;
  align-items: center;
  padding: 30px;
}
.deleteevent p {
  font-size: 50px;
  padding: 30px;
}
p {
  font-size: 50px;
  padding: 30px;
}
.deleteevent button {
  width: 130px;
  height: 50px;
  font-size: 40px;
  border-radius: 30px;
}
@media (max-width: 664px) {
  .deleteevent {
    position: relative;
    top: 150px;
  }
  .errorp {
    position: relative;
    top: 200px;
  }
}
