#registerForm {
  display: flex;
  flex-direction: column;
  width: 100svw;
  position: relative;
  top: -30px;
  justify-content: center;
  position: relative;
  gap: 30px;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

input {
  background-color: black;
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 50px;
  font-size: 30px;
  border-radius: 30px;
  border: 2px solid white;
  color: wheat;
  box-sizing: border-box;
}
label {
  display: none;
}
#userregister {
  position: relative;
  left: 120px;
  width: 180px;
  height: 60px;
  font-size: 40px;

  border-radius: 30px;
}
#messageContainer {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  gap: 30px;
  padding-bottom: 20px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
}

.loading-container img {
  width: 500px;
  height: 300px;
}
#messageContainer button {
  width: 130px;
  height: 40px;
  font-size: 30px;
  border-radius: 30px;
}
@media (max-width: 700px) {
  #registerForm {
    top: 0px;
  }
  #messageContainer {
    top: 80px;
  }
}
